@font-face {
    font-family: 'Affogato';
    src: local('Affogato Light'), local('Affogato-Light'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Light.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Affogato';
    src: local('Affogato Medium'), local('Affogato-Medium'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Medium.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Affogato';
    src: local('Affogato Bold'), local('Affogato-Bold'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Bold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Affogato';
    src: local('Affogato Black'), local('Affogato-Black'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Black.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Affogato';
    src: local('Affogato Regular'), local('Affogato-Regular'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/tolgydd/font/main/woff/Affogato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

